In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

/dhc/home/wei-cheng.lai/conda3/envs/stylegan3_test/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
ms_path = "/dhc/home/wei-cheng.lai/experiments/multisources/ukb/fids/ms_stratified_fid_distance1.csv"
single_path = "/dhc/home/wei-cheng.lai/experiments/singlesource/ukb/plots/source1/fids/ms_stratified_fid_distance1.csv"

In [3]:
ms_df = pd.read_csv(ms_path)
single_df = pd.read_csv(single_path)

In [8]:
ms_df

    c1_min  c1_max     c2_min     c2_max      c3_min     c3_max  num_samples
0     45.0    50.0  1311705.0  1398460.0   43739.668   76355.94    94.741160
1     45.0    50.0  1398460.0  1485215.0   43739.668   76355.94    54.417370
2     45.0    50.0  1485215.0  1571970.0   43739.668   76355.94    48.589730
3     45.0    50.0  1571970.0  1658725.0   43739.668   76355.94    61.856342
4     50.0    55.0  1311705.0  1398460.0   43739.668   76355.94    69.475580
5     50.0    55.0  1398460.0  1485215.0   43739.668   76355.94    48.115080
6     50.0    55.0  1398460.0  1485215.0   76355.940  108972.20    78.280950
7     50.0    55.0  1485215.0  1571970.0   43739.668   76355.94    46.434080
8     50.0    55.0  1571970.0  1658725.0   43739.668   76355.94    57.986202
9     55.0    60.0  1311705.0  1398460.0   43739.668   76355.94    58.898487
10    55.0    60.0  1311705.0  1398460.0   76355.940  108972.20    94.962080
11    55.0    60.0  1398460.0  1485215.0   43739.668   76355.94    44.545220
12    55.0    60.0  1398460.0  1485215.0   76355.940  108972.20    67.749610
13    55.0    60.0  1485215.0  1571970.0   43739.668   76355.94    46.217175
14    55.0    60.0  1485215.0  1571970.0   76355.940  108972.20    82.856476
15    55.0    60.0  1571970.0  1658725.0   43739.668   76355.94    72.890470
16    60.0    65.0  1311705.0  1398460.0   43739.668   76355.94    53.373010
17    60.0    65.0  1311705.0  1398460.0   76355.940  108972.20    71.027750
18    60.0    65.0  1398460.0  1485215.0   43739.668   76355.94    44.014385
19    60.0    65.0  1398460.0  1485215.0   76355.940  108972.20    66.787580
20    60.0    65.0  1398460.0  1485215.0  108972.200  141588.47   115.324104
21    60.0    65.0  1485215.0  1571970.0   43739.668   76355.94    48.416570
22    60.0    65.0  1485215.0  1571970.0   76355.940  108972.20    83.645035
23    60.0    65.0  1571970.0  1658725.0   43739.668   76355.94    87.377490
24    65.0    70.0  1311705.0  1398460.0   43739.668   76355.94    55.175423
25    65.0    70.0  1311705.0  1398460.0   76355.940  108972.20    71.263620
26    65.0    70.0  1398460.0  1485215.0   43739.668   76355.94    50.641403
27    65.0    70.0  1398460.0  1485215.0   76355.940  108972.20    70.472960
28    65.0    70.0  1485215.0  1571970.0   43739.668   76355.94    57.829594
29    65.0    70.0  1485215.0  1571970.0   76355.940  108972.20   105.529580

In [5]:
## take out the ages (grouped by age)
ms_age_dfs = []
for c1 in ms_df["c1_min"].unique():
    print(f"age: {c1}")
    cur_df = ms_df.loc[ms_df["c1_min"] == c1].drop(columns=["c1_min", "c1_max","c2_max", "c3_max"])
    ms_age_dfs.append(cur_df)
    # plt.figure(figsize=(10,5))
    # sns.heatmap(data=cur_df["num_samples"])
    # plt.ylim(0, 100)
    # plt.show()
single_age_dfs = []
for c1 in single_df["c1_min"].unique():
    print(f"age: {c1}")
    cur_df = single_df.loc[single_df["c1_min"] == c1].drop(columns=["c1_min", "c1_max","c2_max", "c3_max"])
    single_age_dfs.append(cur_df)

age: 45.0
age: 50.0
age: 55.0
age: 60.0
age: 65.0
age: 45.0
age: 50.0
age: 55.0
age: 60.0
age: 65.0

In [7]:
ms_age_dfs[2].head()

       c2_min     c3_min  num_samples
9   1311705.0  43739.668    58.898487
10  1311705.0  76355.940    94.962080
11  1398460.0  43739.668    44.545220
12  1398460.0  76355.940    67.749610
13  1485215.0  43739.668    46.217175

In [27]:
for df in ms_age_dfs:
    plt.figure(figsize=(10,5))
    sns.heatmap(data=df["num_samples"].values)
    plt.ylim(0, 10)
    plt.show()

IndexError: Inconsistent shape between the condition and the input (got (4, 1) and (4,))